<header>
    <nav>
      <div class="menu-icon" (click)="toggleMenu()">
        &#9776;
      </div>
      <div class="logo">CONTACTANOS DIRECTAMENTE POR MEDIO DE:</div>
      <div class="contact-info">
        <img src="/instagram.png" alt=""><span> FUNDACIÓN A.C.A</span>
        <img src="/facebook.png" alt=""><span> FUNDACIÓN A.C.A</span>
        <img src="/whatsapp.png" alt=""><span> 9727228805</span>
        <img src="/gmail.png" alt=""><span>FundacionACAgmail.com</span>
      </div>
      <ul [class.active]="menuActive">
        <li>INICIO</li>
        <li>CONOCENOS</li>
        <li>FORMULARIO DE ADOPCION</li>
      </ul>
    </nav>
  </header>
  