<div class="container">
    <header>
        <h1>La adopción en la actualidad</h1>
        <h2>¿Qué es la adopción?</h2>
        <p>La adopción es un acto legal y emocional mediante el cual una persona o una pareja asumen la responsabilidad de criar y cuidar a un niño o niña que no puede ser atendido por sus padres biológicos. Este proceso no solo brinda un hogar y una familia a menores que lo necesitan, sino que también transforma la vida de los adoptantes, quienes abren sus corazones y hogares para brindar amor, estabilidad y apoyo.</p>
    </header>

    <section class="process">
        <h2>El Proceso de Adopción:</h2>
        <p>En la actualidad, el proceso de adopción está regulado por leyes y normativas que varían de un país a otro, pero generalmente implica una serie de pasos y requisitos que aseguran el bienestar del niño y la idoneidad de los adoptantes. Estos pasos suelen incluir la evaluación de las condiciones de vida de los futuros padres, la preparación y el acompañamiento psicológico y emocional, y finalmente, la integración del niño en su nuevo hogar.</p>
        <img src="/111.jpg" alt="Perro adoptado">
    </section>

    <section class="importance">
        <h2>La Importancia de la Adopción:</h2>
        <p>La adopción es una opción vital para miles de niños en todo el mundo que necesitan un hogar seguro y amoroso. Proporciona una oportunidad para que los menores crezcan en un entorno estable, con acceso a educación, salud y el afecto necesario para su desarrollo integral. Además, es una vía significativa para aquellas personas o parejas que desean formar una familia y no pueden hacerlo biológicamente, o que eligen la adopción como su forma de contribuir al bienestar social.</p>
        <img src="/222.jpg" alt="Adopt a friend">
    </section>
</div>